body{
	background:orange;
}
li{
	border:red 2px solid;
}
#special{
	color:red;
	background: rgb(100,50,200) ;
	border:solid 10px green;
}
.hightlight{
	text-decoration: line-through overline;
	color: blue;
	background: black;
}
